volumes:
  clickhouse_data:

services:
  clickhouse:
    image: clickhouse:25.7
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ../../tmp:/var/lib/clickhouse/user_files/
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: default
    ulimits:
      nofile:
        soft: 262144
        hard: 262144